In [1]:
import pandas as pd, numpy as np
import os
cwd = os.path.expanduser("~/cnv-project/adsp_real_data")

In [2]:
del_comm_cnv = pd.read_csv(f"{cwd}/del_comm_adsp_hq.gz", compression="gzip", sep="\t")
del_comm_cnv = del_comm_cnv.drop(columns=["COUNTED","ALT"])
del_comm_cnv.iloc[:,0] = del_comm_cnv.iloc[:,0].str.replace('chr','')

n_cnv,n_cols = del_comm_cnv.shape

percent_na_indv = [del_comm_cnv.iloc[:,i].isna().sum() / n_cnv for i in range(4,n_cols)]
cutoff_indv = 0.2
indv_to_keep = [index for index, element in enumerate(percent_na_indv) if element <= cutoff_indv]
del_comm_cnv = del_comm_cnv.iloc[:,indv_to_keep]

n_indvs = del_comm_cnv.shape[1] - 4
percent_na_cnv = [del_comm_cnv.iloc[i,:].isna().sum() / (n_indvs) for i in range(n_cnv)] 
cutoff_cnv = 0.4
cnv_to_keep = [index for index, element in enumerate(percent_na_cnv) if element <= cutoff_cnv]
del_comm_cnv = del_comm_cnv.iloc[cnv_to_keep,:]

In [3]:
del_comm_cnv.shape

(8476, 11716)

In [4]:
ref_gene = pd.read_table(f"{cwd}/refGene.clean.gz", compression = "gzip", sep = "\t", header = 0)

In [5]:
cnv = del_comm_cnv.iloc[:,:4]
cnv.head()

  CHR                                          SNP        CM       POS
0  22    chr22:10710932-10711692:DEL:COVERAGE:comm  10710932  10711692
1  22    chr22:10720746-10721165:DEL:COVERAGE:comm  10720746  10721165
2  22  chr22:10740324-10746330:DEL:AGGREGATED:comm  10740324  10746330
4  22  chr22:11030980-11031063:DEL:BREAKPOINT:comm  11030980  11031063
5  22    chr22:11031170-11032159:DEL:COVERAGE:comm  11031170  11032159

In [6]:
cnv_ref_gene = cnv.merge(ref_gene, how='left', on='CHR')
match_res = cnv_ref_gene[(cnv_ref_gene['CM'] >= cnv_ref_gene['start']) & (cnv_ref_gene['CM'] <= cnv_ref_gene['end'])
                        |(cnv_ref_gene['POS'] >= cnv_ref_gene['start']) & (cnv_ref_gene['POS'] <= cnv_ref_gene['end'])
                        |(cnv_ref_gene['CM'] <= cnv_ref_gene['start']) & (cnv_ref_gene['POS'] >= cnv_ref_gene['end'])
                        ]
match_res.shape

(4636, 7)

In [7]:
match_res.head()

,CHR,SNP,CM,POS,start,end,gene
15721,22,chr22:19076248-19076387:DEL:AGGREGATED:comm,19076248,19076387,19023794,19109967,DGCR2
17034,22,chr22:19168421-19168478:DEL:AGGREGATED:comm,19168421,19168478,19166985,19279242,CLTCL1
17687,22,chr22:19260392-19260579:DEL:AGGREGATED:comm,19260392,19260579,19166985,19279242,CLTCL1
19660,22,chr22:19924994-19925883:DEL:AGGREGATED:comm,19924994,19925883,19863040,19929341,TXNRD2
20316,22,chr22:19959799-19959866:DEL:AGGREGATED:comm,19959799,19959866,19957418,20004346,ARVCF

In [8]:
# Seperate reference genes to interrupted and normal
genes_1 = match_res['gene'].unique()
genes_0 = ref_gene[~ref_gene['gene'].isin(genes_1)]

gene_dict = {}
for g in genes_1:
    gene_dict[g] = []

In [12]:
def per_indv_annotate(std_match,idx):
    # Prepare standard match results and individual CNV data
    global_match = std_match[['SNP','gene']]
    person = del_comm_cnv.iloc[:,[1,(idx+4)]]
    
    # Make a union of two frames on SNP name (duplicates contaiend)
    # for aligning SNPs and gene
    union = person.merge(global_match, how='outer', on='SNP')
    valid = union[union['gene'].isna() == False]
    
    # Iterate each interrupted gene in an individual and assign binary values
    for g in genes_1:
        if valid[valid['gene'] == g].iloc[:,1].sum() > 0:
            gene_dict[g].append(1)
        else:
            gene_dict[g].append(0)
    
    return None

In [16]:
import time

start = time.time()
for i in range(10):
    per_indv_annotate(match_res,i)
end = time.time()
print(f"Cost {end-start} secs")
#X = pd.DataFrame(gene_dict)

Cost -25.317108392715454 secs

In [17]:
X = pd.DataFrame(gene_dict)
X

,DGCR2,CLTCL1,TXNRD2,ARVCF,ZDHHC8,FAM230G,YPEL1,IGLL5,BCR,LINC01659,...,FZD10-AS1,PIWIL1,RIMBP2,LINC01257,SFSWAP,ULK1,EP400,EP400P1,GALNT9,FBRSL1
0,0,1,0,1,0,0,0,0,0,0,...,0,1,1,0,1,0,1,0,1,0
1,0,1,0,1,0,1,0,0,1,0,...,0,1,1,0,1,0,1,1,1,0
2,0,1,0,1,0,0,0,0,0,0,...,0,1,1,1,1,1,1,0,1,0
3,0,1,0,1,0,0,0,0,0,0,...,1,0,1,0,1,1,1,0,1,0
4,0,0,0,0,0,0,0,0,0,0,...,0,1,1,0,1,1,1,1,1,0
5,0,1,0,1,0,0,0,0,0,0,...,0,1,1,0,1,0,1,0,1,0
6,0,1,0,1,0,1,0,0,1,0,...,0,1,1,0,1,0,1,1,1,0
7,0,1,0,1,0,0,0,0,0,0,...,0,1,1,1,1,1,1,0,1,0
8,0,1,0,1,0,0,0,0,0,0,...,1,0,1,0,1,1,1,0,1,0
9,0,0,0,0,0,0,0,0,0,0,...,0,1,1,0,1,1,1,1,1,0
10,0,1,0,1,0,1,0,0,0,0,...,0,1,1,0,1,0,1,1,1,0
11,0,1,0,1,0,0,0,1,0,0,...,1,1,1,0,1,1,1,0,1,0
12,0,1,0,1,0,0,0,1,0,0,...,0,1,1,1,1,0,1,0,1,0
13,0,1,0,1,0,0,0,1,0,0,...,1,1,1,0,1,0,1,0,1,0
14,0,1,0,1,1,0,0,1,0,0,...,0,1,1,1,1,1,1,0,1,0

3180

In [26]:
global_match = match_res[['SNP','gene']]
person = del_comm_cnv.iloc[:,[1,4]]

In [27]:
global_match.head(10)

                                               SNP     gene
15721  chr22:19076248-19076387:DEL:AGGREGATED:comm    DGCR2
17034  chr22:19168421-19168478:DEL:AGGREGATED:comm   CLTCL1
17687  chr22:19260392-19260579:DEL:AGGREGATED:comm   CLTCL1
19660  chr22:19924994-19925883:DEL:AGGREGATED:comm   TXNRD2
20316  chr22:19959799-19959866:DEL:AGGREGATED:comm    ARVCF
20979  chr22:20121816-20121912:DEL:AGGREGATED:comm   ZDHHC8
21639  chr22:20596335-20599552:DEL:AGGREGATED:comm  FAM230G
22343  chr22:22085877-22086037:DEL:AGGREGATED:comm    YPEL1
26930  chr22:23234669-23235625:DEL:AGGREGATED:comm    IGLL5
27587  chr22:23550492-23550559:DEL:AGGREGATED:comm      BCR

In [28]:
person.head(10)

,SNP,0:A-ACT-AC000014-BL-NCR-15AD78694
0,chr22:10710932-10711692:DEL:COVERAGE:comm,1.0
1,chr22:10720746-10721165:DEL:COVERAGE:comm,1.0
2,chr22:10740324-10746330:DEL:AGGREGATED:comm,0.0
4,chr22:11030980-11031063:DEL:BREAKPOINT:comm,1.0
5,chr22:11031170-11032159:DEL:COVERAGE:comm,1.0
6,chr22:11040820-11040874:DEL:AGGREGATED:comm,1.0
8,chr22:11048821-11049011:DEL:AGGREGATED:comm,0.0
9,chr22:11065106-11065225:DEL:COVERAGE:comm,1.0
10,chr22:11481028-11481101:DEL:AGGREGATED:comm,0.0
11,chr22:11588146-11588324:DEL:AGGREGATED:comm,1.0

In [29]:
union = person.merge(global_match, how='outer', on='SNP')

In [30]:
union.shape

(8951, 3)

In [31]:
union.head(10)

,SNP,0:A-ACT-AC000014-BL-NCR-15AD78694,gene
0,chr22:10710932-10711692:DEL:COVERAGE:comm,1.0,NaN
1,chr22:10720746-10721165:DEL:COVERAGE:comm,1.0,NaN
2,chr22:10740324-10746330:DEL:AGGREGATED:comm,0.0,NaN
3,chr22:11030980-11031063:DEL:BREAKPOINT:comm,1.0,NaN
4,chr22:11031170-11032159:DEL:COVERAGE:comm,1.0,NaN
5,chr22:11040820-11040874:DEL:AGGREGATED:comm,1.0,NaN
6,chr22:11048821-11049011:DEL:AGGREGATED:comm,0.0,NaN
7,chr22:11065106-11065225:DEL:COVERAGE:comm,1.0,NaN
8,chr22:11481028-11481101:DEL:AGGREGATED:comm,0.0,NaN
9,chr22:11588146-11588324:DEL:AGGREGATED:comm,1.0,NaN

In [38]:
union['SNP'].duplicated().any()

True

In [33]:
person.shape

(8476, 2)

In [37]:
8951 - sum(union['gene'].isna())

4636

In [42]:
valid = union[union['gene'].isna() == False] ####
valid

,SNP,0:A-ACT-AC000014-BL-NCR-15AD78694,gene
24,chr22:19076248-19076387:DEL:AGGREGATED:comm,0.0,DGCR2
26,chr22:19168421-19168478:DEL:AGGREGATED:comm,1.0,CLTCL1
27,chr22:19260392-19260579:DEL:AGGREGATED:comm,NaN,CLTCL1
30,chr22:19924994-19925883:DEL:AGGREGATED:comm,0.0,TXNRD2
31,chr22:19959799-19959866:DEL:AGGREGATED:comm,1.0,ARVCF
...,...,...,...
8946,chr12:132730334-132730397:DEL:AGGREGATED:comm,2.0,GALNT9
8947,chr12:132776123-132776202:DEL:AGGREGATED:comm,2.0,GALNT9
8948,chr12:132844445-132844791:DEL:AGGREGATED:comm,0.0,GALNT9
8949,chr12:132868863-132869205:DEL:COVERAGE:comm,1.0,GALNT9
8950,chr12:133091389-133096324:DEL:COVERAGE:comm,0.0,FBRSL1

In [55]:
valid[valid['gene'] == 'CLTCL1'].iloc[:,1].sum()

1.0

In [67]:
for g in genes_1:
    if valid[valid['gene'] == g].iloc[:,1].sum() > 0:
        gene_dict[g].append(1)
    else:
        gene_dict[g].append(0)

In [68]:
gene_dict

{'DGCR2': [0],
 'CLTCL1': [1],
 'TXNRD2': [0],
 'ARVCF': [1],
 'ZDHHC8': [0],
 'FAM230G': [0],
 'YPEL1': [0],
 'IGLL5': [0],
 'BCR': [0],
 'LINC01659': [0],
 'GUSBP11': [1],
 'DDT': [1],
 'CABIN1': [0],
 'GGT5': [0],
 'SPECC1L': [0],
 'SPECC1L-ADORA2A': [0],
 'ADORA2A-AS1': [0],
 'POM121L10P': [0],
 'ZNRF3': [0],
 'HORMAD2-AS1': [0],
 'LIMK2': [0],
 'DRG1': [0],
 'SFI1': [0],
 'LINC02558': [0],
 'SYN3': [0],
 'LARGE1': [1],
 'HMGXB4': [0],
 'TOM1': [1],
 'RBFOX2': [0],
 'APOL3': [0],
 'MYH9': [1],
 'CACNG2': [0],
 'C1QTNF6': [0],
 'TMEM184B': [0],
 'KCNJ4': [0],
 'APOBEC3A_B': [1],
 'APOBEC3A': [1],
 'ENTHD1': [1],
 'TNRC6B': [0],
 'ZC3H7B': [1],
 'TNFRSF13C': [0],
 'ARFGAP3': [0],
 'TTLL1': [1],
 'BIK': [0],
 'EFCAB6-AS1': [0],
 'EFCAB6': [0],
 'SULT4A1': [0],
 'PNPLA3': [0],
 'SHISAL1': [1],
 'PRR5': [1],
 'PRR5-ARHGAP8': [0],
 'ARHGAP8': [0],
 'PHF21B': [1],
 'NUP50': [1],
 'LOC105373064': [0],
 'KIAA0930': [0],
 'FBLN1': [1],
 'ATXN10': [0],
 'PPARA': [0],
 'TTC38': [0],
 'TRMU': [0],
 'CELSR1': [0],
 'GRAMD4': [0],
 'TBC1D22A': [1],
 'LOC284930': [0],
 'TAFA5': [1],
 'C22orf34': [1],
 'BRD1': [0],
 'PLXNB2': [1],
 'ANKRD20A9P': [1],
 'TPTE2': [0],
 'CRYL1': [1],
 'IFT88': [1],
 'SKA3': [0],
 'ZDHHC20': [0],
 'LINC00621': [1],
 'LINC00327': [0],
 'SPATA13': [0],
 'PARP4': [1],
 'RNF17': [0],
 'ATP8A2': [1],
 'MTUS2': [1],
 'UBL3': [1],
 'KATNAL1': [1],
 'HMGB1': [0],
 'PDS5B': [0],
 'STARD13': [0],
 'LINC02343': [0],
 'LINC00457': [0],
 'NBEA': [1],
 'DCLK1': [1],
 'LINC00571': [0],
 'LINC00437': [0],
 'FREM2': [1],
 'TPTE2P5': [0],
 'ELF1': [0],
 'VWA8': [1],
 'LINC00330': [1],
 'SIAH3': [0],
 'HTR2A': [1],
 'FNDC3A': [0],
 'CAB39L': [0],
 'SETDB2': [0],
 'SETDB2-PHF11': [0],
 'SPRYD7': [1],
 'DLEU2': [0],
 'DLEU1': [0],
 'DIAPH3': [0],
 'TDRD3': [1],
 'LINC00376': [0],
 'PCDH9': [1],
 'PCDH9-AS3': [0],
 'LINC00383': [0],
 'KLHL1': [0],
 'DACH1': [1],
 'PIBF1': [1],
 'KLF12': [0],
 'MYCBP2': [0],
 'MYCBP2-AS1': [0],
 'SCEL': [0],
 'EDNRB-AS1': [0],
 'OBI1-AS1': [1],
 'LINC00331': [1],
 'LINC00351': [0],
 'LINC00373': [0],
 'LINC00353': [0],
 'LINC00380': [0],
 'GPC5': [1],
 'GPC5-AS2': [0],
 'GPC6': [1],
 'GPC6-AS2': [1],
 'SOX21-AS1': [0],
 'UGGT2': [1],
 'MBNL2': [0],
 'FARP1': [0],
 'DOCK9': [1],
 'PCCA': [1],
 'ITGBL1': [0],
 'FGF14': [0],
 'TPP2': [0],
 'POGLUT2': [1],
 'BIVM': [1],
 'BIVM-ERCC5': [1],
 'LINC00551': [1],
 'FAM155A': [1],
 'FAM155A-IT1': [1],
 'MYO16': [1],
 'IRS2': [1],
 'COL4A1': [1],
 'COL4A2': [0],
 'ARHGEF7': [1],
 'SOX1-OT': [1],
 'ATP11AUN': [1],
 'ATP11A': [1],
 'F10': [1],
 'PCID2': [0],
 'LAMP1': [1],
 'ADPRHL1': [1],
 'TMCO3': [1],
 'ZNF718': [1],
 'PCGF3': [1],
 'GAK': [1],
 'RNF212': [1],
 'SPON2': [0],
 'MAEA': [0],
 'NKX1-1': [0],
 'TMEM129': [1],
 'CFAP99': [1],
 'FAM193A': [0],
 'TNIP2': [0],
 'SH3BP2': [0],
 'NOP14-AS1': [0],
 'NOP14': [1],
 'RGS12': [1],
 'DOK7': [1],
 'LOC101928279': [0],
 'STK32B': [0],
 'EVC': [1],
 'CRMP1': [0],
 'C4orf50': [0],
 'JAKMIP1': [0],
 'PPP2R2C': [0],
 'SORCS2': [1],
 'ACOX3': [1],
 'CLNK': [0],
 'LINC00504': [1],
 'C1QTNF7-AS1': [1],
 'LDB2': [1],
 'SLIT2': [0],
 'KCNIP4': [1],
 'ADGRA3': [0],
 'PI4K2B': [1],
 'TBC1D19': [0],
 'LINC02497': [1],
 'LINC02484': [0],
 'ARAP2': [0],
 'C4orf19': [0],
 'RELL1': [0],
 'LINC01258': [0],
 'KLF3-AS1': [0],
 'KLB': [0],
 'UGDH-AS1': [0],
 'SMIM14': [0],
 'RBM47': [0],
 'APBB2': [1],
 'SLC30A9': [1],
 'GRXCR1': [0],
 'LINC02475': [0],
 'KCTD8': [1],
 'GABRG1': [0],
 'FIP1L1': [0],
 'CEP135': [0],
 'AASDH': [1],
 'PPAT': [1],
 'POLR2B': [0],
 'ADGRL3': [1],
 'TECRL': [1],
 'EPHA5': [0],
 'UBA6': [0],
 'UBA6-AS1': [0],
 'GNRHR': [0],
 'TMPRSS11D': [0],
 'TMPRSS11F': [1],
 'LOC550113': [1],
 'UGT2A1': [0],
 'SULT1B1': [0],
 'MUC7': [1],
 'SLC4A4': [0],
 'CCDC158': [0],
 'SHROOM3': [0],
 'CXCL13': [0],
 'MRPL1': [0],
 'FRAS1': [0],
 'PRKG2': [1],
 'SCD5': [0],
 'WDFY3': [1],
 'ARHGAP24': [0],
 'MAPK10': [0],
 'AFF1': [0],
 'KLHL8': [1],
 'MEPE': [1],
 'HERC3': [0],
 'FAM13A-AS1': [0],
 'SNCA': [0],
 'CCSER1': [0],
 'GRID2': [1],
 'PDLIM5': [0],
 'UNC5C': [0],
 'LINC02267': [0],
 'STPG2': [1],
 'LOC100507053': [1],
 'TRMT10A': [1],
 'C4orf54': [1],
 'DAPP1': [0],
 'PPP3CA': [0],
 'BANK1': [0],
 'MANBA': [0],
 'SLC9B2': [0],
 'CXXC4-AS1': [0],
 'TET2': [0],
 'TET2-AS1': [0],
 'ARHGEF38': [1],
 'TBCK': [1],
 'AIMP1': [0],
 'SGMS2': [1],
 'CYP2U1-AS1': [1],
 'OSTC': [0],
 'COL25A1': [0],
 'MCUB': [1],
 'EGF': [1],
 'ANK2': [1],
 'CAMK2D': [0],
 'ARSJ': [1],
 'LINC01378': [0],
 'NDST3': [1],
 'SYNPO2': [0],
 'USP53': [1],
 'BBS7': [1],
 'TRPC3': [0],
 'SLC25A31': [0],
 'LINC02466': [1],
 'LINC02465': [1],
 'SNHG27': [1],
 'LINC02511': [1],
 'LINC00499': [0],
 'NAA15': [0],
 'MAML3': [0],
 'CLGN': [0],
 'RNF150': [1],
 'LINC02432': [0],
 'IL15': [1],
 'GAB1': [1],
 'ANAPC10': [1],
 'SLC10A7': [1],
 'ARHGAP10': [0],
 'NR3C2': [1],
 'DCLK2': [0],
 'LRBA': [0],
 'DCHS2': [0],
 'FGB': [1],
 'GUCY1A1': [1],
 'GLRB': [0],
 'FNIP2': [1],
 'C4orf45': [0],
 'RAPGEF2': [0],
 'FSTL5': [1],
 'MARCHF1': [1],
 'KLHL2': [1],
 'LINC01179': [0],
 'TLL1': [0],
 'DDX60': [1],
 'DDX60L': [1],
 'SH3RF1': [1],
 'NEK1': [1],
 'CLCN3': [0],
 'MFAP3L@1': [0],
 'GALNT7': [1],
 'LINC02268': [0],
 'FBXO8': [1],
 'GPM6A': [1],
 'ASB5': [0],
 'LINC00290': [0],
 'TENM3': [1],
 'STOX2': [1],
 'ENPP6': [0],
 'LINC02427': [0],
 'LINC02365': [1],
 'CASP3': [1],
 'ACSL1': [0],
 'LRP2BP': [0],
 'PDLIM3': [1],
 'SORBS2': [1],
 'TLR3': [0],
 'FAM149A': [0],
 'FLJ38576': [0],
 'CYP4V2': [0],
 'KLKB1': [0],
 'F11': [0],
 'F11-AS1': [0],
 'MTNR1A': [0],
 'FAT1': [0],
 'LINC02374': [0],
 'LINC02492': [0],
 'LINC01060': [1],
 'FBXO25': [0],
 'ERICH1': [1],
 'DLGAP2': [1],
 'LOC286083': [1],
 'ARHGEF10': [1],
 'KBTBD11': [1],
 'MYOM2': [1],
 'CSMD1': [1],
 'DEFB1': [1],
 'DEFB107A@1': [0],
 'DEFB107B@1': [0],
 'XKR6': [1],
 'MTMR9': [0],
 'TDH': [0],
 'BLK': [0],
 'NEIL2': [0],
 'FAM66A': [1],
 'LOC649352': [1],
 'DEFB109A': [1],
 'FAM90A25P': [1],
 'FAM86B2@2': [1],
 'LOC100506990': [1],
 'LOC729732': [1],
 'MIR5692A1@2': [0],
 'MIR5692A2@2': [0],
 'LONRF1': [0],
 'MIR3926-1': [0],
 'MIR3926-2': [0],
 'LOC340357': [0],
 'LINC00681': [1],
 'SGCZ': [1],
 'TUSC3': [0],
 'MICU3': [0],
 'VPS37A': [1],
 'SLC7A2': [1],
 'MTUS1': [1],
 'FGL1': [1],
 'PCM1': [1],
 'PSD3': [1],
 'CSGALNACT1': [1],
 'LZTS1': [0],
 'SLC39A14': [0],
 'PPP3CC': [1],
 'PEBP4': [1],
 'ADAM28': [0],
 'LOC101929294': [0],
 'DOCK5': [0],
 'CDCA2': [0],
 'EBF2': [0],
 'TRIM35': [0],
 'CHRNA2': [0],
 'SCARA5': [0],
 'NUGGC': [0],
 'EXTL3': [0],
 'HMBOX1': [0],
 'LINC00589': [0],
 'LEPROTL1': [0],
 'TEX15': [1],
 'WRN': [1],
 'NRG1': [1],
 'FUT10': [0],
 'MIR1268A@1': [0],
 'TACC1': [0],
 'ADAM3A': [1],
 'LOC100130964': [1],
 'ADAM18': [1],
 'ZMAT4': [0],
 'LOC102723729': [1],
 'ANK1': [1],
 'SLC20A2': [1],
 'SPIDR': [0],
 'SNTG1': [0],
 'RP1': [1],
 'XKR4': [1],
 'TMEM68': [0],
 'LYN': [1],
 'SDR16C5': [1],
 'LOC101929415': [0],
 'LINC00968': [0],
 'TOX': [0],
 'CA8': [1],
 'CHD7': [0],
 'CLVS1': [0],
 'LINC01414': [1],
 'CYP7B1': [0],
 'C8orf44-SGK3': [0],
 'SGK3': [0],
 'ARFGEF1': [0],
 'CPA6': [0],
 'PREX2': [1],
 'C8orf34': [1],
 'SULF1': [0],
 'SLCO5A1': [1],
 'NCOA2': [0],
 'XKR9': [0],
 'KCNB2': [0],
 'STAU2': [0],
 'JPH1': [0],
 'LOC102723322': [0],
 'REXO1L2P@8': [0],
 'WWP1': [0],
 'RMDN1': [0],
 'CNBD1': [1],
 'CALB1': [0],
 'NECAB1': [1],
 'LRRC69': [1],
 'SLC26A7': [1],
 'RUNX1T1': [0],
 'LOC102724710': [0],
 'LINC00535': [1],
 'INTS8': [0],
 'NDUFAF6': [1],
 'C8orf37-AS1': [1],
 'SDC2': [1],
 'CPQ': [1],
 'LOC101927066': [1],
 'STK3': [1],
 'VPS13B': [1],
 'RGS22': [0],
 'SNX31': [0],
 'GRHL2': [0],
 'NCALD': [1],
 'UBR5': [1],
 'AZIN1-AS1': [0],
 'RIMS2': [1],
 'LRP12': [0],
 'ZFPM2': [1],
 'ZFPM2-AS1': [0],
 'OXR1': [1],
 'EIF3E': [1],
 'EMC2': [1],
 'LINC01609': [0],
 'CSMD3': [1],
 'TRPS1': [0],
 'LINC00536': [1],
 'EIF3H': [1],
 'RAD21': [0],
 'SLC30A8': [0],
 'EXT1': [1],
 'SAMD12': [0],
 'ENPP2': [0],
 'DSCC1': [0],
 'ZHX2': [0],
 'ZHX1-C8orf76': [0],
 'ZHX1': [0],
 'FAM91A1': [0],
 'TMEM65': [0],
 'MTSS1': [1],
 'NSMCE2': [0],
 'CASC8': [1],
 'CASC11': [0],
 'MYC': [1],
 'LINC00824': [0],
 'GSDMC': [1],
 'ASAP1': [1],
 'ADCY8': [0],
 'KCNQ3': [1],
 'TMEM71': [0],
 'TG': [1],
 'CCN4': [1],
 'ZFAT': [0],
 'KHDRBS3': [1],
 'LINC02055': [1],
 'LOC401478': [1],
 'FAM135B': [1],
 'COL22A1': [0],
 'KCNK9': [1],
 'TRAPPC9': [1],
 'PEG13': [1],
 'CHRAC1': [1],
 'AGO2': [1],
 'PTK2': [1],
 'MIR151A': [1],
 'SLC45A4': [1],
 'PTP4A3': [1],
 'MROH5': [0],
 'TSNARE1': [1],
 'ADGRB1': [1],
 'LY6E-DT': [1],
 'TOP1MT': [0],
 'ZC3H3': [1],
 'RPH3AL': [1],
 'VPS53': [1],
 'NXN': [1],
 'ABR': [1],
 'TRARG1': [1],
 'CRK': [0],
 'RILP': [1],
 'SMYD4': [0],
 'SMG6': [1],
 'MNT': [0],
 'PAFAH1B1': [0],
 'RAP1GAP2': [1],
 'SPATA22': [1],
 'ASPA': [1],
 'ATP2A3': [1],
 'ZZEF1': [0],
 'ALOX15': [1],
 'MINK1': [0],
 'NLRP1': [0],
 'LOC339166': [1],
 'WRAP53': [0],
 'CNTROB': [1],
 'NDEL1': [0],
 'MYH10': [1],
 'PIK3R5': [0],
 'STX8': [0],
 'TMEM220-AS1': [0],
 'DNAH9': [1],
 'MAP2K4': [0],
 'ELAC2': [0],
 'TRIM16': [1],
 'ADORA2B': [0],
 'ZSWIM7': [0],
 'NCOR1': [0],
 'PIGL': [0],
 'CCDC144A': [0],
 'PEMT': [0],
 'SLC47A2': [0],
 'SPECC1': [1],
 'CCDC144NL': [0],
 'CCDC144NL-AS1': [0],
 'LINC02693': [1],
 'FLJ36000': [1],
 'MTRNR2L1': [1],
 'LOC105371703': [1],
 'MIR4522': [1],
 'WSB1': [1],
 'TBC1D3P5': [1],
 'KSR1': [1],
 'LGALS9': [1],
 'NOS2': [1],
 'LYRM9': [1],
 'LINC01992': [1],
 'NLK': [1],
 'PYY2': [1],
 'PPY2P': [1],
 'KRT18P55': [1],
 'TMEM97': [1],
 'IFT20': [1],
 'TNFAIP1': [1],
 'POLDIP2': [1],
 'TMEM199': [1],
 'MIR4723': [1],
 'SEBOX': [1],
 'VTN': [1],
 'SARM1': [1],
 'SLC46A1': [1],
 'SLC13A2': [1],
 'NF1': [0],
 'MYO1D': [0],
 'ASIC2': [1],
 'TMEM132E': [0],
 'AP2B1': [0],
 'ACACA': [0],
 'HNF1B': [0],
 'MRPL45': [0],
 'ARHGAP23': [0],
 'PCGF2': [0],
 'WIPF2': [0],
 'KRTAP4-3': [0],
 'LINC00671': [0],
 'G6PC': [0],
 'BRCA1': [1],
 'NBR2': [1],
 'NBR1': [0],
 'TMEM106A': [0],
 'ITGA2B': [0],
 'KIF18B': [0],
 'MAP3K14': [1],
 'MAPT': [1],
 'MAPT-IT1': [1],
 'ITGB3': [1],
 'SP2-AS1': [1],
 'GIP': [0],
 'SPAG9': [1],
 'CA10': [0],
 'ANKFN1': [1],
 'AKAP1': [1],
 'MSI2': [0],
 'CUEDC1': [0],
 'SRSF1': [0],
 'PPM1E': [1],
 'HEATR6': [0],
 'BCAS3': [0],
 'BRIP1': [1],
 'LRRC37A3': [0],
 'LOC100507002': [0],
 'AXIN2': [0],
 'CEP112': [1],
 'PRKCA': [0],
 'PITPNC1': [0],
 'BPTF': [1],
 'ARSG': [0],
 'SLC16A6': [0],
 'FAM20A': [0],
 'ABCA9': [1],
 'MAP2K6': [1],
 'LINC01483': [0],
 'LINC01497': [0],
 'TMEM104': [0],
 'NUP85': [0],
 'RNF157': [1],
 'PRPSAP1': [0],
 'UBE2O': [1],
 'SEC14L1': [0],
 'LOC100507351': [1],
 'LINC01973': [0],
 'LOC101928674': [1],
 'USP36': [1],
 'CANT1': [1],
 'RBFOX3': [1],
 'RNF213': [0],
 'BAIAP2': [0],
 'AATK': [0],
 'NPLOC4': [0],
 'DUS1L': [0],
 'CCDC57': [1],
 'OGFOD3': [1],
 'WDR45B': [0],
 'FN3K': [1],
 'TBCD': [1],
 'B3GNTL1': [0],
 'EXOC2': [1],
 'GMDS': [1],
 'BPHL': [1],
 'LINC02525': [0],
 'SLC22A23': [0],
 'PRPF4B': [1],
 'ECI2': [0],
 'CDYL': [1],
 'LYRM4-AS1': [1],
 'LYRM4': [0],
 'FARS2': [0],
 'F13A1': [1],
 'BMP6': [0],
 'GCNT2': [0],
 'ELOVL2': [0],
 'TMEM170B': [1],
 'JARID2': [0],
 'GMPR': [0],
 'CAP2': [0],
 'RNF144B': [1],
 'CASC15': [0],
 'DCDC2': [0],
 'RIPOR2': [1],
 'CARMIL1': [1],
 'ZNF184': [0],
 'ZKSCAN4': [0],
 'IFITM4P': [1],
 'HLA-G': [1],
 'ZNRD1ASP@1': [1],
 'HCP5B': [1],
 'HLA-H': [1],
 'HCG4B': [1],
 'HLA-A': [1],
 'HCG9': [1],
 'HCG17': [1],
 'HCG22': [0],
 'LINC02571': [0],
 'MICA': [0],
 'ATP6V1G2-DDX39B': [0],
 'DDX39B': [0],
 'NOTCH4': [0],
 'TSBP1-AS1': [1],
 'TSBP1': [0],
 'HLA-DRB5': [1],
 'HLA-DRB6': [1],
 'HLA-DRB1': [1],
 'HLA-DOB': [1],
 'COL11A2': [0],
 'GGNBP1': [0],
 'ITPR3': [1],
 'GRM4': [0],
 'HMGA1': [0],
 'PPARD': [0],
 'FKBP5': [0],
 'MAPK13': [1],
 'CPNE5': [1],
 'ZFAND3': [0],
 'BTBD9': [0],
 'DNAH8': [1],
 'LRFN2': [1],
 'BYSL': [0],
 'CCND3': [1],
 'TRERF1': [0],
 'UBR2': [0],
 'PTK7': [0],
 'MEP1A': [0],
 'ADGRF5': [1],
 'CRISP1': [0],
 'TFAP2B': [1],
 'PKHD1': [0],
 'EFHC1': [0],
 'GSTA3': [0],
 'FBXO9': [0],
 'ELOVL5': [1],
 'MLIP': [1],
 'FAM83B': [0],
 'HCRTR2': [1],
 'HMGCLL1': [0],
 'BMP5': [0],
 'COL21A1': [1],
 'DST': [1],
 'ZNF451': [1],
 'ZNF451-AS1': [1],
 'BAG2': [0],
 'RAB23': [0],
 'PRIM2': [0],
 'EYS': [1],
 'ADGRB3': [1],
 'SMAP1': [0],
 'B3GAT2': [1],
 'LINC01626': [0],
 'RIMS1': [1],
 'KCNQ5': [1],
 'DDX43': [0],
 'CGAS': [0],
 'LOC101928516': [1],
 'FILIP1': [1],
 'MYO6': [1],
 'IMPG1': [0],
 'LINC02540': [0],
 'HTR1B': [0],
 'MEI4': [0],
 'SH3BGRL2': [0],
 'BCKDHB': [1],
 'CEP162': [0],
 'RNGTT': [0],
 'ANKRD6': [1],
 'MDN1': [1],
 'TSG1': [0],
 'FHL5': [0],
 'LOC101927314': [0],
 'PNISR': [1],
 'ASCC3': [1],
 'GRIK2': [1],
 'PRDM1': [1],
 'ATG5': [1],
 'CRYBG1': [1],
 'LINC02532': [0],
 'PDSS2': [1],
 'SOBP': [1],
 'SCML4': [1],
 'AK9': [0],
 'FIG4': [0],
 'SLC22A16': [0],
 'CDK19': [0],
 'TRAF3IP2-AS1': [0],
 'TRAF3IP2': [0],
 'FYN': [0],
 'NT5DC1': [1],
 'RSPH4A': [0],
 'SLC35F1': [0],
 'CEP85L': [0],
 'TBC1D32': [1],
 'PKIB': [1],
 'NKAIN2': [1],
 'HDDC2': [0],
 'NCOA7': [1],
 'C6orf58': [0],
 'PTPRK': [1],
 'LAMA2': [0],
 'EPB41L2': [0],
 'LINC00326': [0],
 'EYA4': [1],
 'TARID': [1],
 'TCF21': [1],
 'TBPL1': [0],
 'SGK1': [1],
 'PDE7B': [0],
 'MTFR2': [0],
 'MAP3K5': [1],
 'REPS1': [1],
 'HECA': [0],
 'PHACTR2-AS1': [0],
 'ZC2HC1B': [0],
 'UTRN': [0],
 'GRM1': [0],
 'ADGB': [0],
 'KATNBL1P6': [0],
 'SAMD5': [0],
 'SASH1': [0],
 'UST': [1],
 'KATNA1': [0],
 'LATS1': [0],
 'RAET1K': [0],
 'PLEKHG1': [1],
 'MTHFD1L': [0],
 'SYNE1': [1],
 'OPRM1': [0],
 'IPCEF1': [0],
 'CNKSR3': [0],
 'SCAF8': [0],
 'TFB1M': [0],
 'CLDN20': [0],
 'ARID1B': [1],
 'ZDHHC14': [1],
 'SYNJ2': [1],
 'SERAC1': [1],
 'TULP4': [1],
 'FNDC1': [1],
 'SLC22A3': [1],
 'LPA': [1],
 'PRKN': [1],
 'PACRG': [1],
 'PACRG-AS3': [0],
 'LINC00473': [0],
 'RPS6KA2': [1],
 'RPS6KA2-AS1': [1],
 'RNASET2': [1],
 'CEP43': [1],
 'LINC02538': [1],
 'AFDN': [1],
 'SMOC2': [1],
 'THBS2': [1],
 'WDR27': [1],
 'PHF10': [1],
 'FAM120B': [1],
 'MKRN3': [0],
 'SNRPN': [1],
 'SNHG14': [1],
 'SNURF': [0],
 'SNORD107': [1],
 'PWARSN': [1],
 'PWAR5': [1],
 'SNORD64': [1],
 'SNORD108': [1],
 'GABRG3': [1],
 'TJP1': [0],
 'LINC02352': [1],
 'OTUD7A': [0],
 'RYR3': [1],
 'AVEN': [1],
 'CHRM5': [1],
 'KATNBL1': [1],
 'NUTM1': [1],
 'GOLGA8A': [1],
 'AQR': [1],
 'DPH6-DT': [0],
 'MEIS2': [1],
 'FSIP1': [1],
 'INO80': [0],
 'RTF1': [1],
 'SNAP23': [1],
 'UBR1': [0],
 'PPIP5K1': [0],
 'SLC30A4': [1],
 'BLOC1S6': [1],
 'MYEF2': [0],
 'SHC4': [0],
 'FAM227B': [0],
 'SLC27A2': [1],
 'GABPB1': [0],
 'MIR4713HG': [0],
 'LEO1': [1],
 'WDR72': [0],
 'UNC13C': [0],
 'LOC105370829': [0],
 'RFX7': [0],
 'RORA': [0],
 'VPS13C': [1],
 'RAB8B': [1],
 'DAPK2': [1],
 'CIAO2A': [1],
 'CSNK1G1': [0],
 'MTFMT': [0],
 'DENND4A': [1],
 'MEGF11': [1],
 'RPL4': [0],
 'LINC02206': [0],
 'IQCH': [1],
 'IQCH-AS1': [1],
 'PIAS1': [1],
 'ITGA11': [1],
 'NOX5': [1],
 'TLE3': [1],
 'LRRC49': [0],
 'THAP10': [0],
 'THSD4': [1],
 'MYO9A': [1],
 'NEO1': [1],
 'REC114': [0],
 'NPTN': [0],
 'GOLGA6D': [1],
 'UBE2Q2': [0],
 'SCAPER': [1],
 'PEAK1': [0],
 'HMG20A': [0],
 'IREB2': [1],
 'CHRNB4': [0],
 'ANKRD34C-AS1': [1],
 'TMED3': [1],
 'EFL1': [0],
 'ADAMTS7P1@1': [1],
 'HOMER2': [0],
 'HDGFL3': [0],
 'BNC1': [0],
 'ZNF592': [1],
 'SLC28A1': [1],
 'AKAP13': [0],
 'AGBL1': [1],
 'NTRK3': [1],
 'IDH2': [1],
 'VPS33B': [0],
 'SV2B': [1],
 'CRAT37': [0],
 'SLCO3A1': [0],
 'ST8SIA2': [1],
 'FAM174B': [1],
 'LINC01581': [0],
 'LOC440311': [1],
 'LINC01197': [1],
 'LINC00924': [1],
 'NR2F2-AS1': [1],
 'NR2F2': [0],
 'LINC02254': [1],
 'LINC00923': [1],
 'FAM169B': [1],
 'TTC23': [0],
 'LRRC28': [1],
 'ADAMTS17': [1],
 'CERS3': [1],
 'MIER2': [1],
 'THEG': [0],
 'SHC2': [1],
 'ODF3L2': [0],
 'CDC34': [1],
 'PRSS57': [0],
 'PLPPR3': [1],
 'PRTN3': [1],
 'CNN2': [1],
 'CSNK1G2': [1],
 'AP3D1': [0],
 'SGTA': [1],
 'ZNF554': [0],
 'TJP3': [1],
 'MIR1268A@4': [1],
 'ZFR2': [1],
 'PIAS4': [0],
 'MAP2K2': [0],
 'PLIN4': [0],
 'PLIN5': [0],
 'ACSBG2': [1],
 'C3': [0],
 'INSR': [0],
 'XAB2': [1],
 'FCER2': [0],
 'LYPLA2P2': [0],
 'LRRC8E': [0],
 'NDUFA7': [0],
 'RAB11B-AS1': [1],
 'ZNF699': [1],
 'ZNF562': [0],
 'OLFM2': [1],
 'COL5A3': [0],
 ...}

In [ ]:
import numpy as np

def compute_gene_values_for_individual(gene_row, individual):
    mask = (
        (cnv['CM'] >= gene_row['start']) & (cnv['CM'] <= gene_row['end']) |
        (cnv['POS'] >= gene_row['start']) & (cnv['POS'] <= gene_row['end']) |
        (cnv['CM'] <= gene_row['start']) & (cnv['POS'] >= gene_row['end'])
    )
    # Extract the values for the individual where the conditions are met
    values = cnv.loc[mask, individual].dropna()  # drop NaNs

    # Check the condition to return appropriate values
    if values.empty or (values == 0).all():
        return gene_row['gene'], 0
    else:
        return gene_row['gene'], 1

# Create an empty dataframe with individuals as index and genes as columns, initialized with NaN
result_df = pd.DataFrame(np.NaN, index=(cnv.columns[4:])[:3], columns=ref_gene['gene'])

n_jobs = -1  # use all available cores

# Compute values for each individual for each gene
for individual in (cnv.columns[4:])[:3]:
    results = Parallel(n_jobs=n_jobs)(delayed(compute_gene_values_for_individual)(gene_row, individual) for _, gene_row in ref_gene.iterrows())
    # Fill the results into the dataframe
    for gene, value in results:
        result_df.at[individual, gene] = value

In [39]:
union[union.duplicated('SNP', keep=False)]

,SNP,0:A-ACT-AC000014-BL-NCR-15AD78694,gene
50,chr22:24701680-24701893:DEL:AGGREGATED:comm,0.0,SPECC1L
51,chr22:24701680-24701893:DEL:AGGREGATED:comm,0.0,SPECC1L-ADORA2A
92,chr22:39357654-39357717:DEL:AGGREGATED:comm,2.0,APOBEC3A_B
93,chr22:39357654-39357717:DEL:AGGREGATED:comm,2.0,APOBEC3A
117,chr22:45257968-45260929:DEL:AGGREGATED:comm,0.0,PRR5-ARHGAP8
...,...,...,...
8791,chr12:92816781-92817305:DEL:AGGREGATED:comm,0.0,CLLU1
8795,chr12:93964568-93964864:DEL:COVERAGE:comm,0.0,SOCS2-AS1
8796,chr12:93964568-93964864:DEL:COVERAGE:comm,0.0,SOCS2
8860,chr12:120928543-120928602:DEL:AGGREGATED:comm,1.0,DYNLL1
8861,chr12:120928543-120928602:DEL:AGGREGATED:comm,1.0,NRAV

In [40]:
global_match[global_match.duplicated('SNP', keep=False)]

                                                    SNP             gene
32848       chr22:24701680-24701893:DEL:AGGREGATED:comm          SPECC1L
32849       chr22:24701680-24701893:DEL:AGGREGATED:comm  SPECC1L-ADORA2A
59860       chr22:39357654-39357717:DEL:AGGREGATED:comm       APOBEC3A_B
59861       chr22:39357654-39357717:DEL:AGGREGATED:comm         APOBEC3A
75655       chr22:45257968-45260929:DEL:AGGREGATED:comm     PRR5-ARHGAP8
...                                                 ...              ...
11472928    chr12:92816781-92817305:DEL:AGGREGATED:comm            CLLU1
11478499      chr12:93964568-93964864:DEL:COVERAGE:comm        SOCS2-AS1
11478500      chr12:93964568-93964864:DEL:COVERAGE:comm            SOCS2
11567727  chr12:120928543-120928602:DEL:AGGREGATED:comm           DYNLL1
11567728  chr12:120928543-120928602:DEL:AGGREGATED:comm             NRAV

[709 rows x 2 columns]

In [12]:
subset = del_comm_cnv[del_comm_cnv['SNP'].isin(match_res['SNP'])]
subset.shape
subset.head(10)

,CHR,SNP,CM,POS,0:A-ACT-AC000014-BL-NCR-15AD78694,0:A-ACT-AC000034-BL-NCR-16AD84906,0:A-ACT-AC000057-BL-NCR-15AD78356,0:A-ACT-AC000072-BL-NCR-15AD77250,0:A-ACT-AC000088-BL-NCR-15AD76548,0:A-ACT-AC000092-BL-NCR-15AD78589,...,0:G-MSBB-MB000322-BR-MSBB-71983,0:G-MSBB-MB000323-BR-MSBB-71984,0:G-MSBB-MB000326-BR-MSBB-71987,0:G-MSBB-MB000327-BR-MSBB-71988,0:G-MSBB-MB000331-BR-MSBB-71993,0:G-MSBB-MB000332-BR-MSBB-71994,0:G-MSBB-MB000333-BR-MSBB-71995,0:G-MSBB-MB000334-BR-MSBB-71996,0:G-MSBB-MB000335-BR-MSBB-74458,0:G-MSBB-MB000337-BR-MSBB-76349
27,22,chr22:19076248-19076387:DEL:AGGREGATED:comm,19076248,19076387,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
29,22,chr22:19168421-19168478:DEL:AGGREGATED:comm,19168421,19168478,1.0,1.0,1.0,1.0,NaN,1.0,...,NaN,1.0,1.0,2.0,1.0,2.0,NaN,1.0,1.0,1.0
30,22,chr22:19260392-19260579:DEL:AGGREGATED:comm,19260392,19260579,NaN,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,NaN,0.0,0.0,0.0,NaN,0.0,0.0,0.0
34,22,chr22:19924994-19925883:DEL:AGGREGATED:comm,19924994,19925883,0.0,0.0,0.0,0.0,NaN,0.0,...,0.0,0.0,NaN,0.0,0.0,0.0,0.0,NaN,NaN,0.0
35,22,chr22:19959799-19959866:DEL:AGGREGATED:comm,19959799,19959866,1.0,1.0,2.0,2.0,0.0,2.0,...,2.0,2.0,NaN,2.0,1.0,2.0,2.0,1.0,2.0,0.0
36,22,chr22:20121816-20121912:DEL:AGGREGATED:comm,20121816,20121912,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
38,22,chr22:20596335-20599552:DEL:AGGREGATED:comm,20596335,20599552,0.0,1.0,0.0,0.0,0.0,2.0,...,0.0,1.0,0.0,1.0,0.0,0.0,2.0,0.0,1.0,0.0
39,22,chr22:22085877-22086037:DEL:AGGREGATED:comm,22085877,22086037,0.0,0.0,0.0,0.0,NaN,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
46,22,chr22:23234669-23235625:DEL:AGGREGATED:comm,23234669,23235625,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0
48,22,chr22:23550492-23550559:DEL:AGGREGATED:comm,23550492,23550559,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [11]:
subset['SNP'].duplicated().any()

False

In [9]:
new_subset = match_res[['SNP','gene']].merge(subset, how='left', on='SNP')
new_subset.head()

,SNP,gene,CHR,CM,POS,0:A-ACT-AC000014-BL-NCR-15AD78694,0:A-ACT-AC000034-BL-NCR-16AD84906,0:A-ACT-AC000057-BL-NCR-15AD78356,0:A-ACT-AC000072-BL-NCR-15AD77250,0:A-ACT-AC000088-BL-NCR-15AD76548,...,0:G-MSBB-MB000322-BR-MSBB-71983,0:G-MSBB-MB000323-BR-MSBB-71984,0:G-MSBB-MB000326-BR-MSBB-71987,0:G-MSBB-MB000327-BR-MSBB-71988,0:G-MSBB-MB000331-BR-MSBB-71993,0:G-MSBB-MB000332-BR-MSBB-71994,0:G-MSBB-MB000333-BR-MSBB-71995,0:G-MSBB-MB000334-BR-MSBB-71996,0:G-MSBB-MB000335-BR-MSBB-74458,0:G-MSBB-MB000337-BR-MSBB-76349
0,chr22:19076248-19076387:DEL:AGGREGATED:comm,DGCR2,22,19076248,19076387,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,chr22:19168421-19168478:DEL:AGGREGATED:comm,CLTCL1,22,19168421,19168478,1.0,1.0,1.0,1.0,NaN,...,NaN,1.0,1.0,2.0,1.0,2.0,NaN,1.0,1.0,1.0
2,chr22:19260392-19260579:DEL:AGGREGATED:comm,CLTCL1,22,19260392,19260579,NaN,0.0,0.0,0.0,0.0,...,0.0,0.0,NaN,0.0,0.0,0.0,NaN,0.0,0.0,0.0
3,chr22:19924994-19925883:DEL:AGGREGATED:comm,TXNRD2,22,19924994,19925883,0.0,0.0,0.0,0.0,NaN,...,0.0,0.0,NaN,0.0,0.0,0.0,0.0,NaN,NaN,0.0
4,chr22:19959799-19959866:DEL:AGGREGATED:comm,ARVCF,22,19959799,19959866,1.0,1.0,2.0,2.0,0.0,...,2.0,2.0,NaN,2.0,1.0,2.0,2.0,1.0,2.0,0.0

In [10]:
new_subset.shape

(4636, 11717)

In [18]:
sample = del_comm_cnv.iloc[:,[*range(4),4]]
cnv_ref_gene = sample.merge(ref_gene, how='left', on='CHR')
match_res = cnv_ref_gene[(cnv_ref_gene['CM'] >= cnv_ref_gene['start']) & (cnv_ref_gene['CM'] <= cnv_ref_gene['end'])
                        |(cnv_ref_gene['POS'] >= cnv_ref_gene['start']) & (cnv_ref_gene['POS'] <= cnv_ref_gene['end'])
                        |(cnv_ref_gene['CM'] <= cnv_ref_gene['start']) & (cnv_ref_gene['POS'] >= cnv_ref_gene['end'])
                        ]
match_res = match_res.drop_duplicates(subset='gene', keep='first')
match_res.shape

(3180, 8)

In [25]:
match_res['ID']

KeyError: 'ID'

In [34]:
X = pd.DataFrame(columns=ref_gene['gene'], index=del_comm_cnv.columns[4:])
IDs = list((del_comm_cnv.columns[4:])[:5])
for i,ID in enumerate(IDs):
    sample = del_comm_cnv.iloc[:,[*range(4),(i+4)]]
    cnv_ref_gene = sample.merge(ref_gene, how='left', on='CHR')
    match_res = cnv_ref_gene[(cnv_ref_gene['CM'] >= cnv_ref_gene['start']) & (cnv_ref_gene['CM'] <= cnv_ref_gene['end'])
                            |(cnv_ref_gene['POS'] >= cnv_ref_gene['start']) & (cnv_ref_gene['POS'] <= cnv_ref_gene['end'])
                            |(cnv_ref_gene['CM'] <= cnv_ref_gene['start']) & (cnv_ref_gene['POS'] >= cnv_ref_gene['end'])
                            ]
    match_res = match_res.drop_duplicates(subset='gene', keep='first')
    new_values # Must be the whole row!
    X.loc[i,match_res['gene']] = dict(zip(match_res['gene'], match_res[ID]))
X.head()

gene,LOC102725121@1,DDX11L1,WASH7P,"MIR6859-1@1,MIR6859-2@1,MIR6859-3@1,MIR6859-4@1","MIR1302-10@1,MIR1302-11@1,MIR1302-2@1,MIR1302-9@1","FAM138A@1,FAM138C@1,FAM138F@1",OR4F5,LOC729737,"LOC100132062@1,LOC100132287@1","OR4F16@1,OR4F29@1,OR4F3@1",...,"MIR1184-1@3,MIR1184-2@3,MIR1184-3@3","H2AB2@3,H2AB3@3",H2AB1@3,"LOC101927830@2,TMLHE-AS1@2",TMLHE,SPRY3,VAMP7,IL9R,WASIR1,DDX11L16
0:A-ACT-AC000014-BL-NCR-15AD78694,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0:A-ACT-AC000034-BL-NCR-16AD84906,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0:A-ACT-AC000057-BL-NCR-15AD78356,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0:A-ACT-AC000072-BL-NCR-15AD77250,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0:A-ACT-AC000088-BL-NCR-15AD76548,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
ID

'0:A-ACT-AC000088-BL-NCR-15AD76548'

In [37]:
X.loc[ID,['DDX11L','WASH7P']] = {'DDX11L':0,'WASH7P':1}
X.head()

gene,LOC102725121@1,DDX11L1,WASH7P,"MIR6859-1@1,MIR6859-2@1,MIR6859-3@1,MIR6859-4@1","MIR1302-10@1,MIR1302-11@1,MIR1302-2@1,MIR1302-9@1","FAM138A@1,FAM138C@1,FAM138F@1",OR4F5,LOC729737,"LOC100132062@1,LOC100132287@1","OR4F16@1,OR4F29@1,OR4F3@1",...,"H2AB2@3,H2AB3@3",H2AB1@3,"LOC101927830@2,TMLHE-AS1@2",TMLHE,SPRY3,VAMP7,IL9R,WASIR1,DDX11L16,DDX11L
0:A-ACT-AC000014-BL-NCR-15AD78694,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0:A-ACT-AC000034-BL-NCR-16AD84906,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0:A-ACT-AC000057-BL-NCR-15AD78356,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0:A-ACT-AC000072-BL-NCR-15AD77250,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0:A-ACT-AC000088-BL-NCR-15AD76548,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0

In [18]:
match_res.head()

,CHR,SNP,CM,POS,0:A-ACT-AC000088-BL-NCR-15AD76548,start,end,gene
15721,22,chr22:19076248-19076387:DEL:AGGREGATED:comm,19076248,19076387,0.0,19023794,19109967,DGCR2
17034,22,chr22:19168421-19168478:DEL:AGGREGATED:comm,19168421,19168478,NaN,19166985,19279242,CLTCL1
19660,22,chr22:19924994-19925883:DEL:AGGREGATED:comm,19924994,19925883,NaN,19863040,19929341,TXNRD2
20316,22,chr22:19959799-19959866:DEL:AGGREGATED:comm,19959799,19959866,0.0,19957418,20004346,ARVCF
20979,22,chr22:20121816-20121912:DEL:AGGREGATED:comm,20121816,20121912,0.0,20119326,20135530,ZDHHC8

In [2]:
cwd = os.path.expanduser("~/cnv-project/adsp_real_data")
    
print("Start loading data...")
# Load raw common deletion CNV data and do preprocessing
del_comm_cnv = pd.read_csv(f"{cwd}/del_comm_adsp_hq.gz", compression="gzip", sep="\t")
del_comm_cnv = del_comm_cnv.drop(columns=["COUNTED","ALT"])
del_comm_cnv.iloc[:,0] = del_comm_cnv.iloc[:,0].str.replace('chr','')
cnv = del_comm_cnv.iloc[:,:4]
indvs = del_comm_cnv.drop(columns=["CHR","CM","POS"])
del del_comm_cnv 
print("Data loaded!")

# QC 
print("Start QC...")
n_cnv,n_cols = indvs.shape

percent_na_indv = [indvs.iloc[:,i].isna().sum() / n_cnv for i in range(1,n_cols)]
cutoff_indv = 0.2
indv_to_keep = [index for index, element in enumerate(percent_na_indv) if element <= cutoff_indv]
indvs = indvs.iloc[:,indv_to_keep]

n_indvs = indvs.shape[1] - 1
percent_na_cnv = [indvs.iloc[i,:].isna().sum() / (n_indvs) for i in range(n_cnv)] 
cutoff_cnv = 0.4
cnv_to_keep = [index for index, element in enumerate(percent_na_cnv) if element <= cutoff_cnv]
indvs = indvs.iloc[cnv_to_keep,:]
print("QC completed!")

# Load reference genes
print("Start matching genes and CNVs...")
ref_gene = pd.read_table(f"{cwd}/refGene.clean.gz", compression = "gzip", sep = "\t", header = 0)
cnv_ref_gene = cnv.merge(ref_gene, how='left', on='CHR')
res = cnv_ref_gene[(cnv_ref_gene['CM'] >= cnv_ref_gene['start']) & (cnv_ref_gene['CM'] <= cnv_ref_gene['end'])
                   |(cnv_ref_gene['POS'] >= cnv_ref_gene['start']) & (cnv_ref_gene['POS'] <= cnv_ref_gene['end'])
                   |(cnv_ref_gene['CM'] <= cnv_ref_gene['start']) & (cnv_ref_gene['POS'] >= cnv_ref_gene['end'])
                  ]
print("Matching completed!")

Start loading data...
Data loaded!
Start QC...
QC completed!
Start matching genes and CNVs...
Matching completed!