# Implement TORUS by using CNV data of Schizophrenia in Sweden
### Use Sweden Schizphrenia individual data to obtain gene and CNV overlap configuration; columns represent genes, rows represent individuals
### Use the transformed file to perform TOURS

#### Obtain file format used in TORUS

Use

In [1]:
import pandas as pd
from pandasql import sqldf
from utils import load_reference_gene

In [2]:
# load reference genes and Sweden CNV data
ref_genes = load_reference_gene("../data/refGene.txt.gz")
sw_cnv = pd.read_table("../data/swcnv/swcnv.qc6.cnv", sep="\s+")
sw_indiv = pd.read_table("../data/swcnv/swcnv.qc6.cnv.indiv", sep="\s+") # "NSEG": number of CNV in each sample
sw_cnv_indiv = pd.merge(sw_cnv, sw_indiv, how="inner", on=["FID", "IID"])
sw_cnv_indiv["PHE"] = sw_cnv_indiv.apply(lambda row: 1 if row["PHE"]==2 else 0, axis=1)

In [3]:
# calcium pathway genes
calpath_genes = pd.read_table("../data/calciumgeneset.txt", skiprows = 2, header = None, names = ["gene_name"])
calpath_genes_list = calpath_genes["gene_name"].tolist()
calpath_genes_pos = pd.merge(ref_genes, calpath_genes, how="inner", on=["gene_name"])

In [4]:
query = '''
SELECT gene_name, chrom, min(tx_start), max(tx_end)
FROM calpath_genes_pos
GROUP BY gene_name
'''
calpath_genes_pos = sqldf(query)
calpath_genes_pos = calpath_genes_pos.rename(columns={"min(tx_start)": "gene_start", "max(tx_end)": "gene_end"})

In [5]:
diff = list(set(calpath_genes_list) - set(calpath_genes_pos["gene_name"].tolist()))
calpath_genes_pos.loc[calpath_genes_pos.shape[0]] = [diff[0], "chr2", 65205076, 65206278]
calpath_genes_pos.loc[calpath_genes_pos.shape[0]] = [diff[1], "chr15", 41231149, 41281887]
calpath_genes_pos["chr"] = calpath_genes_pos.apply(lambda row: int(row["chrom"][3:]) 
                                                   if not row["chrom"][3:] in ("X", "Y") else 23, axis=1)

In [6]:
print (calpath_genes_pos)

     gene_name  chrom  gene_start   gene_end  chr
0        ADCY1   chr7    45613738   45762714    7
1        ADCY2   chr5     7396342    7830194    5
2        ADCY3   chr2    25042038   25142886    2
3        ADCY4  chr14    24787554   24804277   14
4        ADCY7  chr16    50300450   50352045   16
5        ADCY8   chr8   131792546  132052835    8
6        ADCY9  chr16     4012649    4166186   16
7      ADORA2A  chr22    24819564   24838328   22
8      ADORA2B  chr17    15848230   15879210   17
9       ADRA1A   chr8    26605666   26724760    8
10      ADRA1B   chr5   159343739  159400017    5
11      ADRA1D  chr20     4201277    4229659   20
12       ADRB1  chr10   115803805  115806667   10
13       ADRB2   chr5   148206155  148208197    5
14       ADRB3   chr8    37820513   37824184    8
15       AGTR1   chr3   148415657  148460790    3
16      ATP2A1  chr16    28889808   28915830   16
17      ATP2A2  chr12   110719031  110788897   12
18      ATP2A3  chr17     3827162    3867758   17
19      ATP2B1  chr12    89981825   90049844   12
20      ATP2B2   chr3    10365706   10547374    3
21      ATP2B3   chrX   152801579  152848387   23
22      ATP2B4   chr1   203595914  203713209    1
23      AVPR1A  chr12    63536538   63546590   12
24      AVPR1B   chr1   206224282  206231482    1
25      BDKRB1  chr14    96722546   96731100   14
26      BDKRB2  chr14    96671134   96710666   14
27        BST1   chr4    15704572   15733796    4
28     CACNA1A  chr19    13317255   13617274   19
29     CACNA1B   chr9   140772240  141019076    9
..         ...    ...         ...        ...  ...
148      PTAFR   chr1    28473676   28520447    1
149     PTGER1  chr19    14583277   14586174   19
150     PTGER3   chr1    71318035   71513491    1
151      PTGFR   chr1    78956727   79006386    1
152      PTK2B   chr8    27168998   27316908    8
153       RYR1  chr19    38924339   39078204   19
154       RYR2   chr1   237205701  237997288    1
155       RYR3  chr15    33603162   34158304   15
156   SLC25A31   chr4   128651532  128695454    4
157    SLC25A4   chr4   186064416  186071538    4
158    SLC25A5   chrX   118602362  118605359   23
159    SLC25A6   chrX     1455044    1511039   23
160     SLC8A1   chr2    40339285   40739575    2
161     SLC8A2  chr19    47931278   47975307   19
162     SLC8A3  chr14    70510933   70655787   14
163      SPHK1  chr17    74380689   74383941   17
164      SPHK2  chr19    49122547   49133663   19
165      TACR1   chr2    75273589   75426645    2
166      TACR2  chr10    71163957   71176674   10
167      TACR3   chr4   104510624  104640973    4
168     TBXA2R  chr19     3594503    3606831   19
169      TNNC1   chr3    52485106   52488057    3
170      TNNC2  chr20    44451854   44455953   20
171       TRHR   chr8   110099652  110131812    8
172      TRPC1   chr3   142443265  142526729    3
173      VDAC1   chr5   133307565  133340824    5
174      VDAC2  chr10    76969911   76991207   10
175      VDAC3   chr8    42249278   42263455    8
176  LOC729317   chr2    65205076   65206278    2
177        CHP  chr15    41231149   41281887   15

[178 rows x 5 columns]

In [7]:
# need to change
query = '''
SELECT sw.CHR, sw.BP1, sw.BP2, sw.TYPE, sw.PHE, cal.gene_name, cal.gene_start, cal.gene_end, count(sw.FID)
FROM calpath_genes_pos cal LEFT JOIN sw_cnv_indiv sw
WHERE sw.CHR == cal.chr
AND (
(sw.BP1 >= cal.gene_start AND sw.BP1 <= cal.gene_end)
OR
(sw.BP2 >= cal.gene_start AND sw.BP2 <= cal.gene_end)
OR
(sw.BP1 <= cal.gene_start AND sw.BP2 >= cal.gene_end)
OR
(sw.BP1 >= cal.gene_start AND sw.BP2 <= cal.gene_end)
)
GROUP BY sw.CHR, sw.BP1, sw.BP2, cal.gene_name, sw.TYPE, sw.PHE
'''
# overlap_CNV_gene_df = sqldf(query).drop_duplicates(subset=("CHR", "BP1", "BP2", "gene_name", "TYPE", "PHE", "count(sw.FID)"))
overlap_CNV_gene = sqldf(query)
overlap_CNV_gene = overlap_CNV_gene.rename(columns={"count(sw.FID)": "n_FID"})

In [8]:
overlap_CNV_gene

,CHR,BP1,BP2,TYPE,PHE,gene_name,gene_start,gene_end,n_FID
0,1,1804302,2047584,3,0,CALML6,1846265,1848733,1
1,1,1804302,2047584,3,1,CALML6,1846265,1848733,1
2,1,226748623,226858419,1,1,ITPKB,226819390,226926876,1
3,1,237151125,237493362,1,1,RYR2,237205701,237997288,1
4,1,239678115,239800921,3,0,CHRM3,239792372,240072717,1
5,2,40450245,40614668,1,1,SLC8A1,40339285,40739575,1
6,2,40674308,41559590,3,0,SLC8A1,40339285,40739575,1
7,2,74969763,75323267,3,0,TACR1,75273589,75426645,1
8,2,183023392,183126288,1,1,PDE1A,183004761,183387572,1
9,2,218749319,219480897,3,0,PLCD4,219472487,219501909,1
10,3,4317445,4747247,3,0,ITPR1,4535031,4889524,1
11,3,123486169,123634548,1,0,MYLK,123331142,123603149,1
12,4,9688014,9794193,3,0,DRD5,9783257,9785633,1
13,4,100928014,103125795,1,1,PPP3CA,101944586,102268628,1
14,4,104179046,104766986,1,0,TACR3,104510624,104640973,1
15,5,7532066,9978456,3,1,ADCY2,7396342,7830194,1
16,5,7532066,10040087,3,1,ADCY2,7396342,7830194,1
17,6,118655381,119104706,3,1,PLN,118869425,118882878,1
18,6,118682291,119104706,3,1,PLN,118869425,118882878,1
19,6,118690822,119080379,3,0,PLN,118869425,118882878,1
20,6,118691108,119101336,3,0,PLN,118869425,118882878,1
21,6,118695049,118891582,3,0,PLN,118869425,118882878,1
22,6,118700137,118891582,3,0,PLN,118869425,118882878,1
23,6,118701889,118900024,3,0,PLN,118869425,118882878,2
24,6,118719413,118891582,3,0,PLN,118869425,118882878,1
25,6,118786486,119048269,3,0,PLN,118869425,118882878,1
26,6,118786486,119056733,3,0,PLN,118869425,118882878,1
27,6,118791804,119018502,3,0,PLN,118869425,118882878,1
28,6,118835126,119032859,3,0,PLN,118869425,118882878,1
29,6,118835126,119033109,3,0,PLN,118869425,118882878,1
...,...,...,...,...,...,...,...,...,...
144,22,22997811,24997309,3,1,ADORA2A,24819564,24838328,1
145,22,22997811,25076598,3,1,ADORA2A,24819564,24838328,1
146,22,23689983,24914451,3,1,ADORA2A,24819564,24838328,1
147,22,23689983,25070067,3,1,ADORA2A,24819564,24838328,1
148,22,23692738,25064809,3,1,ADORA2A,24819564,24838328,1
149,22,24447288,25032774,3,1,ADORA2A,24819564,24838328,1
150,23,2703391,3659193,3,1,PRKX,3522383,3631675,1
151,23,2703391,4505504,3,1,PRKX,3522383,3631675,1
152,23,2712661,7044081,1,1,PRKX,3522383,3631675,1
153,23,2741339,3649902,3,1,PRKX,3522383,3631675,3
154,23,2741339,3659193,3,0,PRKX,3522383,3631675,1
155,23,2802568,4859798,3,1,PRKX,3522383,3631675,1
156,23,2811119,7355636,3,1,PRKX,3522383,3631675,1
157,23,2830696,3626408,3,0,PRKX,3522383,3631675,2
158,23,2830696,3649902,3,0,PRKX,3522383,3631675,1
159,23,2830696,3659193,3,0,PRKX,3522383,3631675,2
160,23,2839942,3678164,3,1,PRKX,3522383,3631675,1
161,23,2850801,3637916,3,1,PRKX,3522383,3631675,1
162,23,2850801,3659193,3,0,PRKX,3522383,3631675,2
163,23,2850801,3659193,3,1,PRKX,3522383,3631675,1
164,23,2916735,3539248,3,1,PRKX,3522383,3631675,1
165,23,2916735,3554481,3,0,PRKX,3522383,3631675,1
166,23,2916735,3659193,3,1,PRKX,3522383,3631675,1
167,23,2979529,3539248,3,1,PRKX,3522383,3631675,1
168,23,2979529,3659193,3,0,PRKX,3522383,3631675,1
169,23,2979529,3659193,3,1,PRKX,3522383,3631675,1
170,23,3070182,4736479,3,1,PRKX,3522383,3631675,1
171,23,3231040,3539248,3,0,PRKX,3522383,3631675,1
172,23,3502739,3673759,3,0,PRKX,3522383,3631675,1
173,23,3608067,4120689,3,0,PRKX,3522383,3631675,1